<html lang="en" dir="ltr"><head>
<title>My Team</title>
<meta charset="utf-8">

<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<link rel="stylesheet" href="style.css">


</head>
<body>

             <h1 id="header">My Team!</h1>
                 
    <div id="cardHolder">          
        <div class="columns is-multiline" id="workerAdder">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="titleContent">      
                        <p id="bigtitle">yes</p>
                        <p id="smalltitle">Manager</p>
                         </div> 
                         <div class="otherContent">
                         <br>
                        <p>ID: 2</p>
                        <br>
                        <p>Email: no</p>
                        <br>
                        <p>Office number: maybe</p>
                        <br>
                         </div>
                    </div>
                </div>
            </div>
        <div class="column is-one-third">
<div class="card">
    <div class="card-content">
        <div class="titleContent">      
        <p id="bigtitle">fuck mah car</p>
        <p id="smalltitle">Employee</p>
         </div> 
         <div class="otherContent">
         <br>
        <p>ID: 2</p>
        <br>
        <p>Email: pls</p>
        <br>
        <p></p>
        <br>
         </div>
    </div>
</div>
</div></div>
    </div>
             
<script src="app.js"></script>



</body></html>